<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a href="/" title="Retour à l’accueil du site - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
                    <p class="fr-logo">
                        République
                        <br>Française
                    </p>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">{{ $.Site.Data.footer.text }}</p>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
					{{ range .Site.Data.footer.liens }}
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ .url }}">{{ .text }}</a>
                </li>
					{{ end }}
            </ul>
            <div class="fr-footer__bottom-copy">
              <p>Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont proposés sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre">licence etalab-2.0</a>
              </p>
            </div>
        </div>
    </div>
</footer>